<div class = "container">
  <h1>Profile Form</h1>
  <form>
    <ngb-alert type="danger" [dismissible]="true"  *ngIf = 'errorMessage'>
      <strong>{{errorMessage}}</strong> 
    </ngb-alert>
     <div class = "form-group">
        <label for = "firstname">Firstname</label>
        <input type = "text" class = "form-control" id = "firstname" required
           [(ngModel)] = "model.firstname" name = "firstname">
     </div>
     
     <div class = "form-group">
        <label for = "lastname">Lastname</label>
        <input type = "text" class = "form-control" id = "lastname"
           [(ngModel)] = "model.lastname" name = "lastname">
     </div>
     <div class = "form-group">
      <button class="button button-default" (click) = "onSubmit()"> Click Me </button>
     </div>
  </form>

  <table  class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
      </tr>
    </thead>
    <tr  *ngFor = 'let profile of profiles'>
        <td>
            {{profile.firstname}}
        </td>
        <td>
            {{profile.lastname}}
        </td>
    </tr>
  </table>
</div>

